n8n/wetransfer-a-calandra.json
{
  "name": "WeTransfer → Avanzar pedido a Calandra",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "sender": "noreply@wetransfer.com",
          "subject": "enviado correctamente a sublimarte"
        },
        "format": "simple"
      },
      "id": "gmail-trigger",
      "name": "Gmail — WeTransfer enviado",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst texto = item.fragmento || item.snippet || item.retazo || item.subject || item.Asunto || '';\n\n// El fragmento tiene forma: \"...para ver las imágenes galaktiturkos camisas 3.pdf enviado a...\"\n// Buscamos la palabra/s justo ANTES de \"NombreArchivo.ext\"\n// Estrategia: encontrar patrón NOMBRE.pdf y tomar la(s) palabra(s) inmediatamente antes\nlet equipo = '';\n\n// Busca: (una-o-dos-palabras) ESPACIO (palabra) PUNTO (ext)\n// Ejemplo: \"galaktiturkos camisas 3.pdf\" → captura \"galaktiturkos\"\nconst matchPDF = texto.match(/(\\b[a-záéíóúñü][a-záéíóúñü0-9]+)(?:\\s+[\\w]+)*\\s+[\\w-]+\\.(?:pdf|cdr|ai|eps|jpg|png|zip)/i);\nif (matchPDF) {\n  // matchPDF[0] = \"galaktiturkos camisas 3.pdf\"\n  // Quitamos la extensión y separamos por espacios\n  const partes = matchPDF[0].replace(/\\s+[\\w-]+\\.(?:pdf|cdr|ai|eps|jpg|png|zip)$/i, '').trim().split(/\\s+/);\n  // La primera parte es el nombre del equipo\n  equipo = partes[0];\n}\n\n// Fallback: buscar justo antes de tipo de prenda\nif (!equipo) {\n  const prendas = ['camisas','camisetas','pantalon','pantaloneta','uniforme','conjunto','portero','buso','chaqueta'];\n  for (const prenda of prendas) {\n    const m = texto.match(new RegExp('(\\\\b[a-záéíóúñü][a-záéíóúñü0-9]+)\\\\s+' + prenda, 'i'));\n    if (m) { equipo = m[1].trim(); break; }\n  }\n}\n\nreturn [{ json: { equipo, textoOriginal: texto } }];"
      },
      "id": "extraer-equipo",
      "name": "Extraer nombre del equipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-app-interna-production.up.railway.app/api/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ equipo: $json.equipo, estado: 'enviado-calandra', nota: 'Actualizado automáticamente por WeTransfer' }) }}"
      },
      "id": "llamar-webhook",
      "name": "Actualizar pedido en app",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-resultado",
      "name": "¿Pedido encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log(`✅ Pedido #${d.id} (${d.equipo}) avanzado a enviado-calandra`);\nreturn [{ json: { mensaje: `✅ #${d.id} ${d.equipo} → Enviado a calandra`, ...d } }];"
      },
      "id": "log-ok",
      "name": "OK — Pedido avanzado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log(`⚠️ No se encontró pedido para equipo: ${$('Extraer nombre del equipo').first().json.equipo}`);\nconsole.log('Respuesta:', JSON.stringify(d));\nreturn [{ json: { alerta: true, ...d } }];"
      },
      "id": "log-error",
      "name": "ALERTA — Pedido no encontrado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Gmail — WeTransfer enviado": {
      "main": [[{ "node": "Extraer nombre del equipo", "type": "main", "index": 0 }]]
    },
    "Extraer nombre del equipo": {
      "main": [[{ "node": "Actualizar pedido en app", "type": "main", "index": 0 }]]
    },
    "Actualizar pedido en app": {
      "main": [[{ "node": "¿Pedido encontrado?", "type": "main", "index": 0 }]]
    },
    "¿Pedido encontrado?": {
      "main": [
        [{ "node": "OK — Pedido avanzado", "type": "main", "index": 0 }],
        [{ "node": "ALERTA — Pedido no encontrado", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
