WORKFLOWS/Alertas Sin Movimiento.json
{
  "name": "Alertas Sin Movimiento",
  "nodes": [
    {
      "parameters": {
        "url": "https://ws-app-interna-production.up.railway.app/api/pedidos",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "d2242ded-cd4f-4c87-b28d-3ecc097a776a",
      "name": "Obtener Pedidos"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n// Migrar de array a objeto si es necesario\nif (Array.isArray(staticData.notificados)) staticData.notificados = {};\nif (!staticData.notificados) staticData.notificados = {};\n\nconst { pedidos } = $('Obtener Pedidos').item.json;\n\nconst ahora = new Date();\nconst DIAS_INACTIVO = 3;\nconst DIAS_RE_NOTIFICAR = 3; // Re-notificar si siguen inactivos tras 3 días\n\nconst inactivos = pedidos.filter(p => {\n  if (p.estado === 'enviado-final') return false;\n  if (p.estado === 'bandeja') return false;\n  const ref = p.ultimoMovimiento || p.ultimaActWebhook || null;\n  if (!ref) return true;\n  const diff = (ahora - new Date(ref)) / (1000 * 60 * 60 * 24);\n  return diff >= DIAS_INACTIVO;\n});\n\n// Solo notificar si no fue notificado en los últimos 3 días\nconst limiteTiempo = ahora.getTime() - DIAS_RE_NOTIFICAR * 24 * 60 * 60 * 1000;\nconst nuevos = inactivos.filter(p => {\n  const ultima = staticData.notificados[p.id];\n  return !ultima || ultima < limiteTiempo;\n});\n\nif (nuevos.length === 0) return [];\n\n// Registrar con timestamp\nfor (const p of nuevos) staticData.notificados[p.id] = ahora.getTime();\n\n// Limpiar pedidos que ya se entregaron\nconst idsActivos = pedidos.filter(p => p.estado !== 'enviado-final').map(p => String(p.id));\nfor (const id of Object.keys(staticData.notificados)) {\n  if (!idsActivos.includes(id)) delete staticData.notificados[id];\n}\n\nreturn nuevos.map(p => ({ json: p }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "89e158c1-d51e-4dd4-a678-05dfa6631ab3",
      "name": "Filtrar Inactivos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "15e153e6-aa0b-4a6c-8618-777f62af8772",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "4af735d6-4821-440a-81d8-e0417b0b494d",
      "name": "Hay Inactivos?"
    },
    {
      "parameters": {
        "chatId": "-1003751103154",
        "text": "=🔴 *Pedidos sin movimiento +3 días*\n\n{{ $input.all().map(i => { const dias = i.json.ultimoMovimiento ? Math.floor((Date.now() - new Date(i.json.ultimoMovimiento)) / (1000*60*60*24)) : '?'; return `• #${i.json.id} *${i.json.equipo || i.json.telefono}* — ${i.json.estado} (${dias}d parado)`; }).join('\\n') }}\n\n¡Revisar y avanzar! 👆\n_Solo se avisa una vez por pedido cada 3 días_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -96
      ],
      "id": "13d7d95c-9f2f-4cdd-a1cb-6c90a8f1db15",
      "name": "Notificar Produccion",
      "webhookId": "ec582abd-09e4-4e53-b12d-13808b8afc94",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2f9a4fb3-01e3-4b81-bc54-5281528927dd",
      "name": "Revisar cada hora"
    }
  ],
  "pinData": {},
  "connections": {
    "Obtener Pedidos": {
      "main": [
        [
          {
            "node": "Filtrar Inactivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Inactivos": {
      "main": [
        [
          {
            "node": "Hay Inactivos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Inactivos?": {
      "main": [
        [
          {
            "node": "Notificar Produccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisar cada hora": {
      "main": [
        [
          {
            "node": "Obtener Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ffaaf7e6-b129-4336-b8d5-4e81c893b7dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "vek27OkpCaPXxB6L",
  "tags": []
}