WORKFLOWS/Alerta Fechas Proximas.json
{
  "name": "Alerta Fechas Proximas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cada dia 8am"
    },
    {
      "parameters": {
        "url": "https://ws-app-interna-production.up.railway.app/api/pedidos",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Obtener Pedidos"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.notificados) staticData.notificados = {};\n\nconst { pedidos } = $('Obtener Pedidos').item.json;\n\nconst hoy = new Date();\nhoy.setHours(0, 0, 0, 0);\nconst hoyStr = hoy.toISOString().slice(0, 10);\n\n// Filtrar pedidos que vencen en 1 o 2 dias\nconst proximos = pedidos.filter(p => {\n  if (!p.fechaEntrega) return false;\n  if (p.estado === 'enviado-final') return false;\n  const fecha = new Date(p.fechaEntrega + 'T00:00:00');\n  const diff = Math.round((fecha - hoy) / 86400000);\n  return diff === 1 || diff === 2;\n}).map(p => {\n  const fecha = new Date(p.fechaEntrega + 'T00:00:00');\n  const diff = Math.round((fecha - hoy) / 86400000);\n  return { ...p, diasRestantes: diff };\n});\n\n// Solo notificar si no fue notificado hoy (permite re-notificar al día siguiente cuando quedan 1 día)\nconst nuevos = proximos.filter(p => staticData.notificados[p.id] !== hoyStr);\n\nif (nuevos.length === 0) return [];\n\n// Registrar con la fecha de hoy\nfor (const p of nuevos) staticData.notificados[p.id] = hoyStr;\n\n// Limpiar los que ya se entregaron\nconst idsActivos = pedidos.filter(p => p.estado !== 'enviado-final').map(p => p.id);\nfor (const id of Object.keys(staticData.notificados)) {\n  if (!idsActivos.includes(Number(id))) delete staticData.notificados[id];\n}\n\nreturn nuevos.map(p => ({ json: p }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Filtrar Proximos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000010",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [624, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Hay Proximos?"
    },
    {
      "parameters": {
        "chatId": "-5135765805",
        "text": "=📅 *Pedidos con entrega próxima*\n\n{{ $input.all().map(i => `• #${i.json.id} *${i.json.equipo || i.json.telefono}* — entrega en *${i.json.diasRestantes === 1 ? 'mañana' : '2 días'}* (${i.json.fechaEntrega})\\n  Estado: ${i.json.estado} | Vendedora: ${i.json.vendedora}`).join('\\n\\n') }}\n\n⚡ Verificar avance en la app",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [832, -96],
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Notificar Admin",
      "webhookId": "a1b2c3d4-0001-0001-0001-000000000099",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cada dia 8am": {
      "main": [
        [
          {
            "node": "Obtener Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedidos": {
      "main": [
        [
          {
            "node": "Filtrar Proximos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Proximos": {
      "main": [
        [
          {
            "node": "Hay Proximos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Proximos?": {
      "main": [
        [
          {
            "node": "Notificar Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a1b2c3d4-0001-0001-0001-aabbccddeeff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "AlertaFechasProximas01",
  "tags": []
}
