WORKFLOWS/Calandra - PDF Drive a Railway + Telegram.json
{
  "name": "Calandra - PDF Drive a Railway + Telegram",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qaEI69DxqwDCE_Ce4UKHAQjCVcdgx_qy",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "cc1feeb2-f8f6-44b3-b15c-4f45bf54fa37",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        112
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g0k7EcnkOFnDpu6t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Google Drive Trigger').first().json;\nconst nombreCompleto = data.name || '';\nconst nombreSinExtension = nombreCompleto.replace(/\\.pdf$/i, '');\n\nreturn [{ json: { \n  ...data,\n  nombreCompleto, \n  nombreSinExtension \n}}];\n"
      },
      "id": "95e04b4e-6430-4733-a178-fdeaa7c13327",
      "name": "Extraer Nombre Archivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_alto_mayor_cero",
              "leftValue": "={{ $json.alto }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41a7ce96-b4c5-4932-b2ef-54a6daebdfaf",
      "name": "¿Alto > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -32,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-app-interna-production.up.railway.app/api/calandra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"equipo\": \"{{ $json.equipo }}\",\n  \"alto\": {{ $json.alto }},\n  \"ancho\": 1.50,\n  \"archivo\": \"{{ $json.archivo }}\",\n  \"disenador\": \"{{ $json.disenador }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "136d64a6-8855-4687-8643-ae485f4ea369",
      "name": "POST a Railway API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "-5135765805",
        "text": "=📐 *PDF registrado en Calandra*\n📄 {{ $('Extraer Dimensiones PDF').first().json.archivo }}\n📏 Alto: {{ $('Extraer Dimensiones PDF').first().json.alto }} cm → *{{ $('Extraer Dimensiones PDF').first().json.metros }} m lineales*\n👤 {{ $('Extraer Dimensiones PDF').first().json.disenador || 'Sin asignar' }}",
        "additionalFields": {
          "disable_notification": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "dd790792-2117-457d-ae12-b5cf32911630",
      "name": "Telegram - PDF Registrado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "webhookId": "e29777ad-515d-4fa4-8a84-3fcde6a77dc3",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5135765805",
        "text": "=⚠️ *PDF sin dimensiones detectadas*\n📄 {{ $json.archivo }}\n❌ No se pudo leer el MediaBox del PDF.\nVerifica el archivo manualmente o súbelo de nuevo.",
        "additionalFields": {
          "disable_notification": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "3e7cf2ab-525d-4b43-8441-4be1b546a2a0",
      "name": "Telegram - Alto No Detectado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        224
      ],
      "webhookId": "eff30b33-b492-496d-bef7-d041679a4962",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const nombreCompleto = $('Extraer Nombre Archivo').first().json.nombreCompleto;\nconst nombreSinExtension = $('Extraer Nombre Archivo').first().json.nombreSinExtension;\n\n// Regex más flexible - busca cualquier número después de _ en cualquier parte\nconst regex = /_(\\d+(?:[.,]\\d+)?)/;\nconst match = nombreSinExtension.match(regex);\n\nlet altoCm = 0;\nif (match) {\n  altoCm = parseFloat(match[1].replace(',', '.'));\n}\n\nconst anchoM = 1.0;\nconst metros = altoCm > 0 ? Math.round((altoCm / 100) * anchoM * 1000) / 1000 : 0;\n\nreturn [{\n  json: {\n    equipo: nombreSinExtension,\n    alto: altoCm,\n    ancho: anchoM * 100,\n    metros,\n    archivo: nombreCompleto,\n    disenador: '',\n    pdfLeido: altoCm > 0,\n    debug: 'nombre=[' + nombreSinExtension + '] match=' + JSON.stringify(match)\n  }\n}];\n"
      },
      "id": "1f37ceb5-14e0-4531-8f92-d830373c3366",
      "name": "Extraer Dimensiones PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Google Drive Trigger').first().json.id }}?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        112
      ],
      "id": "242d0808-e95e-4698-bc7d-25fa943f3b18",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g0k7EcnkOFnDpu6t",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Nombre Archivo": {
      "main": [
        [
          {
            "node": "Extraer Dimensiones PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Alto > 0?": {
      "main": [
        [
          {
            "node": "POST a Railway API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alto No Detectado",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST a Railway API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST a Railway API": {
      "main": [
        [
          {
            "node": "Telegram - PDF Registrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Dimensiones PDF": {
      "main": [
        [
          {
            "node": "¿Alto > 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extraer Nombre Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "031b38ac-fa2c-4316-80e9-90bea500c9b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "E2NgEyMDUFIoiQsq",
  "tags": [
    {
      "updatedAt": "2026-03-27T17:10:33.417Z",
      "createdAt": "2026-03-27T17:10:33.417Z",
      "id": "AOB5GmD7PdRuUVWc",
      "name": "calandra"
    }
  ]
}