WORKFLOWS/Calandra - PDF Drive a Railway + Telegram.json
{
  "name": "Calandra - PDF Drive a Railway + Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1200,
        112
      ],
      "id": "cc1feeb2-f8f6-44b3-b15c-4f45bf54fa37",
      "name": "Cada 5 minutos"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1qaEI69DxqwDCE_Ce4UKHAQjCVcdgx_qy' in parents and mimeType='application/pdf' and trashed=false",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -960,
        112
      ],
      "id": "a1b2c3d4-0001-0001-0001-111111111111",
      "name": "Buscar PDFs en Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g0k7EcnkOFnDpu6t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const archivos = $input.all();\nconst staticData = $getWorkflowStaticData('global');\n\nif (Array.isArray(staticData.procesados)) staticData.procesados = {};\nif (!staticData.procesados) staticData.procesados = {};\n\nconst siete = Date.now() - 7 * 24 * 60 * 60 * 1000;\nObject.keys(staticData.procesados).forEach(id => {\n  if (staticData.procesados[id] < siete) delete staticData.procesados[id];\n});\n\nconst hoyStr = new Date().toLocaleDateString('es-CO', { timeZone: 'America/Bogota' });\n\nconst nuevos = archivos.filter(item => !staticData.procesados[item.json.id]);\nif (nuevos.length === 0) return [];\n\nnuevos.forEach(item => { staticData.procesados[item.json.id] = Date.now(); });\n\nreturn nuevos.map((item, index) => ({\n  json: {\n    ...item.json,\n    fechaDrive: hoyStr,\n    esDeHoy: true,\n    driveIndex: index\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        112
      ],
      "id": "a1b2c3d4-0001-0001-0001-222222222222",
      "name": "Filtrar Nuevos"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n  const nombreCompleto = data.name || '';\n  const nombreSinExtension = nombreCompleto.replace(/\\.pdf$/i, '');\n  return { json: { ...data, nombreCompleto, nombreSinExtension } };\n});"
      },
      "id": "95e04b4e-6430-4733-a178-fdeaa7c13327",
      "name": "Extraer Nombre Archivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const nombreCompleto = item.json.nombreCompleto || '';\n  const nombreSinExtension = item.json.nombreSinExtension || '';\n  const regex = /_(\\d+(?:[.,]\\d+)?)$/;\n  const match = nombreSinExtension.match(regex);\n  let altoCm = 0;\n  if (match) altoCm = parseFloat(match[1].replace(',', '.'));\n  const anchoM = 1.0;\n  const metros = altoCm > 0 ? Math.round((altoCm / 100) * anchoM * 1000) / 1000 : 0;\n  return {\n    json: {\n      ...item.json,\n      equipo: nombreSinExtension,\n      alto: altoCm,\n      ancho: anchoM * 100,\n      metros,\n      archivo: nombreCompleto,\n      disenador: '',\n      pdfLeido: altoCm > 0\n    }\n  };\n});"
      },
      "id": "1f37ceb5-14e0-4531-8f92-d830373c3366",
      "name": "Extraer Dimensiones PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_alto_mayor_cero",
              "leftValue": "={{ $json.alto }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41a7ce96-b4c5-4932-b2ef-54a6daebdfaf",
      "name": "¿Alto > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -32,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-app-interna-production.up.railway.app/api/calandra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"equipo\": \"{{ $json.equipo }}\",\n  \"alto\": {{ $json.alto }},\n  \"ancho\": 1.50,\n  \"archivo\": \"{{ $json.archivo }}\",\n  \"disenador\": \"{{ $json.disenador }}\",\n  \"fechaDrive\": \"{{ $json.fechaDrive }}\",\n  \"driveIndex\": {{ $json.driveIndex ?? 0 }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "136d64a6-8855-4687-8643-ae485f4ea369",
      "name": "POST a Railway API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "-5135765805",
        "text": "=📐 *PDF registrado en Calandra*\n📄 {{ $('Extraer Dimensiones PDF').first().json.archivo }}\n📏 Alto: {{ $('Extraer Dimensiones PDF').first().json.alto }} cm → *{{ $('Extraer Dimensiones PDF').first().json.metros }} m lineales*\n👤 {{ $('Extraer Dimensiones PDF').first().json.disenador || 'Sin asignar' }}",
        "additionalFields": {
          "disable_notification": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "dd790792-2117-457d-ae12-b5cf32911630",
      "name": "Telegram - PDF Registrado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "webhookId": "e29777ad-515d-4fa4-8a84-3fcde6a77dc3",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5135765805",
        "text": "=⚠️ *PDF sin dimensiones detectadas*\n📄 {{ $json.archivo }}\n❌ No se pudo leer el alto del nombre del PDF.\nVerifica el archivo manualmente o súbelo de nuevo.",
        "additionalFields": {
          "disable_notification": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "3e7cf2ab-525d-4b43-8441-4be1b546a2a0",
      "name": "Telegram - Alto No Detectado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        224
      ],
      "webhookId": "eff30b33-b492-496d-bef7-d041679a4962",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "es-de-hoy",
              "leftValue": "={{ $json.esDeHoy }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-es-de-hoy",
      "name": "¿Es de hoy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        328,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cada 5 minutos": {
      "main": [
        [
          {
            "node": "Buscar PDFs en Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar PDFs en Drive": {
      "main": [
        [
          {
            "node": "Filtrar Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Nuevos": {
      "main": [
        [
          {
            "node": "Extraer Nombre Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Nombre Archivo": {
      "main": [
        [
          {
            "node": "Extraer Dimensiones PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Dimensiones PDF": {
      "main": [
        [
          {
            "node": "¿Alto > 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Alto > 0?": {
      "main": [
        [
          {
            "node": "POST a Railway API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alto No Detectado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST a Railway API": {
      "main": [
        [
          {
            "node": "¿Es de hoy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es de hoy?": {
      "main": [
        [
          {
            "node": "Telegram - PDF Registrado",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "031b38ac-fa2c-4316-80e9-90bea500c9b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "E2NgEyMDUFIoiQsq",
  "tags": [
    {
      "updatedAt": "2026-03-27T17:10:33.417Z",
      "createdAt": "2026-03-27T17:10:33.417Z",
      "id": "AOB5GmD7PdRuUVWc",
      "name": "calandra"
    }
  ]
}