WORKFLOWS/Reporte Semanal Producción.json
{
  "name": "Reporte Semanal Producción",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "048cc639-3ad5-413a-8ebb-4e24b902e7ce",
      "name": "Cada lunes 8am"
    },
    {
      "parameters": {
        "url": "https://ws-app-interna-production.up.railway.app/api/pedidos",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "96f5a291-30ef-440d-b460-da854f35e551",
      "name": "Obtener Pedidos"
    },
    {
      "parameters": {
        "jsCode": "const { pedidos } = $input.first().json;\n\nconst ahora = new Date();\nconst ahoraCO = new Date(ahora.toLocaleString('en-US', { timeZone: 'America/Bogota' }));\n\n// Semana anterior: lunes a domingo\nconst lunesAnterior = new Date(ahoraCO);\nlunesAnterior.setDate(ahoraCO.getDate() - 7);\nlunesAnterior.setHours(0,0,0,0);\nconst domingoAnterior = new Date(lunesAnterior);\ndomingoAnterior.setDate(lunesAnterior.getDate() + 6);\ndomingoAnterior.setHours(23,59,59,999);\n\n// Pedidos activos (no enviado-final)\nconst activos = pedidos.filter(p => p.estado !== 'enviado-final');\n\n// Entregados esta semana\nconst entregados = pedidos.filter(p =>\n  p.estado === 'enviado-final' &&\n  p.ultimoMovimiento &&\n  new Date(p.ultimoMovimiento) >= lunesAnterior &&\n  new Date(p.ultimoMovimiento) <= domingoAnterior\n);\n\n// Por estado\nconst etiquetas = {\n  'bandeja': '🗂 Bandeja', 'hacer-diseno': '🎨 Diseño', 'confirmado': '✅ Confirmado',\n  'enviado-calandra': '🖨 Calandra', 'llego-impresion': '🖨 Impresión', 'corte': '✂️ Corte',\n  'calidad': '🔍 Calidad', 'costura': '🧵 Costura', 'listo': '📦 Listo'\n};\nconst conteos = {};\nObject.keys(etiquetas).forEach(e => conteos[e] = 0);\nactivos.forEach(p => { if (conteos[p.estado] !== undefined) conteos[p.estado]++; });\nconst lineasEstados = Object.entries(etiquetas)\n  .filter(([k]) => conteos[k] > 0)\n  .map(([k, label]) => `  ${label}: ${conteos[k]}`)\n  .join('\\n');\n\n// Sin movimiento +3 días\nconst sinMovimiento = activos.filter(p => {\n  const ref = p.ultimoMovimiento || p.ultimaActWebhook || null;\n  if (!ref) return false;\n  return (ahora - new Date(ref)) / (1000*60*60*24) >= 3;\n});\nconst listaSinMov = sinMovimiento.slice(0, 5).map(p => {\n  const dias = Math.floor((ahora - new Date(p.ultimoMovimiento || p.ultimaActWebhook)) / (1000*60*60*24));\n  return `  • #${p.id} ${p.equipo || p.telefono || '?'} — ${p.estado} (${dias}d)`;\n}).join('\\n');\nconst massinmov = sinMovimiento.length > 5 ? `\\n  ...y ${sinMovimiento.length - 5} más` : '';\n\n// Vencidos\nconst vencidos = activos.filter(p => {\n  if (!p.fechaEntrega) return false;\n  const [d,m,y] = p.fechaEntrega.split('/');\n  return new Date(+y, +m-1, +d) < ahoraCO;\n});\nconst listaVencidos = vencidos.slice(0, 5).map(p => {\n  const [d,m,y] = p.fechaEntrega.split('/');\n  const dias = Math.round((ahoraCO - new Date(+y,+m-1,+d)) / (1000*60*60*24));\n  return `  • #${p.id} ${p.equipo || p.telefono || '?'} — hace ${dias}d (${p.estado})`;\n}).join('\\n');\nconst masvenc = vencidos.length > 5 ? `\\n  ...y ${vencidos.length - 5} más` : '';\n\nconst fechaIni = lunesAnterior.toLocaleDateString('es-CO', { timeZone: 'America/Bogota' });\nconst fechaFin = domingoAnterior.toLocaleDateString('es-CO', { timeZone: 'America/Bogota' });\n\nconst texto = `📊 *Reporte Semanal — W&S Textil*\n📅 Semana ${fechaIni} → ${fechaFin}\n\n✅ *Entregados:* ${entregados.length}  |  📦 *Activos:* ${activos.length}\n\n📋 *Por etapa:*\n${lineasEstados || '  Sin datos'}\n\n⚠️ *Sin movimiento +3d:* ${sinMovimiento.length}\n${sinMovimiento.length ? listaSinMov + massinmov : '  Ninguno 👍'}\n\n🔴 *Vencidos:* ${vencidos.length}\n${vencidos.length ? listaVencidos + masvenc : '  Ninguno 👍'}`;\n\nreturn [{ json: { texto } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "4e9bbde8-a9bb-42b5-8423-887efaaa02c4",
      "name": "Procesar Reporte"
    },
    {
      "parameters": {
        "chatId": "-5135765805",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        0
      ],
      "id": "1d35bb08-4d1a-4a8b-a515-669027e533d0",
      "name": "Enviar a WS Admin",
      "webhookId": "902c57d4-b44a-444d-b398-55262f41ec01",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cada lunes 8am": {
      "main": [
        [
          {
            "node": "Obtener Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedidos": {
      "main": [
        [
          {
            "node": "Procesar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Reporte": {
      "main": [
        [
          {
            "node": "Enviar a WS Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "80a3a2d2-2419-4f4b-aa00-5a521fa41915",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "wYZCvGpRVGlcYfxb",
  "tags": []
}