WORKFLOWS/Watcher CATALOGO Disenos.json
{
  "name": "Watcher CATALOGO Disenos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "wc-catalogo-000001",
      "name": "Cada 5 min"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='18KQclpuL1Jbg-ED5iJQP-sAm2HGR6-e5' in parents and (mimeType='image/jpeg' or mimeType='image/png') and trashed=false",
        "filter": {},
        "options": {
          "fields": "id,name,createdTime,modifiedTime,size,mimeType"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [220, 0],
      "id": "wc-catalogo-000002",
      "name": "Listar JPGs CATALOGO",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g0k7EcnkOFnDpu6t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const archivos = $input.all();\nconst ahora = Date.now();\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.procesados) staticData.procesados = {}; // { fileId: modifiedTime }\n\n// Nuevo si: fileId nunca visto, o modifiedTime cambio (reemplazo).\nconst nuevos = archivos.filter(item => {\n  const id = item.json.id;\n  const mt = item.json.modifiedTime;\n  const prev = staticData.procesados[id];\n  return !prev || prev !== mt;\n});\n\n// Marcar como procesados solo despues del POST exitoso -> aca los pasamos\n// pero los marcamos en un nodo posterior. Guardamos {id, mt} para procesarlos.\n\nif (nuevos.length === 0) return [];\n\nreturn nuevos.map(item => ({\n  json: {\n    fileId: item.json.id,\n    nombre: item.json.name,\n    modifiedTime: item.json.modifiedTime,\n    createdTime: item.json.createdTime,\n    sizeBytes: parseInt(item.json.size || '0', 10),\n    mimeType: item.json.mimeType,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "wc-catalogo-000003",
      "name": "Filtrar Nuevos/Reemplazados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "wc-catalogo-000010",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 0],
      "id": "wc-catalogo-000004",
      "name": "Hay archivos?"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, 0],
      "id": "wc-catalogo-000005",
      "name": "Descargar JPG",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g0k7EcnkOFnDpu6t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convertimos el binario a base64 para postear al server\nconst out = [];\nfor (const item of $input.all()) {\n  const bin = item.binary?.data;\n  if (!bin) continue;\n  const b64 = bin.data; // n8n ya trae el binario en base64\n  const meta = item.json;\n  out.push({\n    json: {\n      fileId: meta.fileId,\n      nombre: meta.nombre,\n      modifiedTime: meta.modifiedTime,\n      sizeBytes: meta.sizeBytes,\n      contentBase64: b64,\n    }\n  });\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "wc-catalogo-000006",
      "name": "Convertir a base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-app-interna-production.up.railway.app/api/disenos/registrar-catalogo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fileId\": \"{{ $json.fileId }}\",\n  \"nombre\": \"{{ $json.nombre.replace(/\\\"/g, '\\\\\"') }}\",\n  \"modifiedTime\": \"{{ $json.modifiedTime }}\",\n  \"sizeBytes\": {{ $json.sizeBytes }},\n  \"contentBase64\": \"{{ $json.contentBase64 }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1320, 0],
      "id": "wc-catalogo-000007",
      "name": "POST al Server"
    },
    {
      "parameters": {
        "jsCode": "// Marcar como procesados los que llegaron aca (post OK)\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.procesados) staticData.procesados = {};\nlet marcados = 0;\nfor (const item of $input.all()) {\n  const resp = item.json;\n  // El server nos devuelve el fileId original en la respuesta? Puede que no. Buscamos por accion.\n  // Como el node anterior emitio {fileId, nombre, modifiedTime}, tomamos el binding del item previo si hay.\n  // Alternativa robusta: el HTTP Request node en n8n trae el json de input y output.\n  // Guardamos por indice: el i-esimo output corresponde al i-esimo input.\n}\n// Enfoque simple: iterar sobre el input original de 'Convertir a base64' via workflow context.\nconst originales = $('Convertir a base64').all();\nfor (const orig of originales) {\n  staticData.procesados[orig.json.fileId] = orig.json.modifiedTime;\n  marcados++;\n}\nreturn [{ json: { marcados } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0],
      "id": "wc-catalogo-000008",
      "name": "Marcar Procesados"
    }
  ],
  "pinData": {},
  "connections": {
    "Cada 5 min": {
      "main": [[{ "node": "Listar JPGs CATALOGO", "type": "main", "index": 0 }]]
    },
    "Listar JPGs CATALOGO": {
      "main": [[{ "node": "Filtrar Nuevos/Reemplazados", "type": "main", "index": 0 }]]
    },
    "Filtrar Nuevos/Reemplazados": {
      "main": [[{ "node": "Hay archivos?", "type": "main", "index": 0 }]]
    },
    "Hay archivos?": {
      "main": [[{ "node": "Descargar JPG", "type": "main", "index": 0 }]]
    },
    "Descargar JPG": {
      "main": [[{ "node": "Convertir a base64", "type": "main", "index": 0 }]]
    },
    "Convertir a base64": {
      "main": [[{ "node": "POST al Server", "type": "main", "index": 0 }]]
    },
    "POST al Server": {
      "main": [[{ "node": "Marcar Procesados", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "wc-catalogo-vers-001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "WatcherCatalogoDisenos01",
  "tags": []
}
