WORKFLOWS/Watcher PDF Drive.json
{
  "name": "Watcher PDF Drive",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "59c2e969-81ed-4742-8209-61ae842a1164",
      "name": "Cada minuto"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1qaEI69DxqwDCE_Ce4UKHAQjCVcdgx_qy' in parents and mimeType='application/pdf' and trashed=false",
        "filter": {},
        "options": {
          "fields": "id,name,createdTime,modifiedTime"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [208, 0],
      "id": "558c5d98-c1fa-4a1d-b039-3873e99b5f5f",
      "name": "Buscar PDFs Nuevos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g0k7EcnkOFnDpu6t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const archivos = $input.all();\nconst ahora = new Date();\nconst DOS_MINUTOS = 2 * 60 * 1000;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.procesados) staticData.procesados = [];\nif (!staticData.procesadosTiempo) staticData.procesadosTiempo = {};\n\nconst nuevos = archivos.filter(item => {\n  const creado = new Date(item.json.createdTime);\n  const esNuevo = (ahora - creado) <= DOS_MINUTOS;\n  const noProcesado = !staticData.procesados.includes(item.json.id);\n  return esNuevo && noProcesado;\n});\n\nnuevos.forEach(item => {\n  staticData.procesados.push(item.json.id);\n  staticData.procesadosTiempo[item.json.id] = ahora.getTime();\n});\n\n// Limpiar procesados viejos (más de 1 hora)\nconst UNA_HORA = 60 * 60 * 1000;\nstaticData.procesados = staticData.procesados.filter(id => {\n  const t = staticData.procesadosTiempo[id];\n  return t && (ahora.getTime() - t) < UNA_HORA;\n});\n\nif (nuevos.length === 0) return [];\n\nreturn nuevos.map(item => ({\n  json: {\n    nombre: item.json.name,\n    id: item.json.id,\n    creado: item.json.createdTime,\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "7113e005-7255-44e8-839c-fa32cada30a0",
      "name": "Filtrar Nuevos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5210e774-d65f-42a0-8314-96bcab1928c8",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [624, 0],
      "id": "93466d47-aca6-4ec9-a707-71dfcad06abd",
      "name": "Hay PDFs?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-app-interna-production.up.railway.app/api/calandra",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"equipo\": \"{{ $json.nombre.replace('.pdf','').replace('.PDF','') }}\",\n  \"alto\": \"100\",\n  \"archivo\": \"{{ $json.nombre }}\",\n  \"disenador\": \"drive\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [816, -96],
      "id": "f951eca5-e364-47d2-a478-c96f4738c787",
      "name": "Registrar en Calandra"
    },
    {
      "parameters": {
        "chatId": "-5135765805",
        "text": "=📄 *PDF nuevo en Drive*\n{{ $('Filtrar Nuevos').all().map(i => `• ${i.json.nombre}`).join('\\n') }}\n\nVerificar metraje en sección Calandra 👆",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1024, -96],
      "id": "cd3db260-4a68-4399-9902-8bae2bef4ac0",
      "name": "Notificar Admin",
      "webhookId": "2c0ce799-4f3c-4260-af3e-82921ad02e42",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cada minuto": {
      "main": [
        [
          {
            "node": "Buscar PDFs Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar PDFs Nuevos": {
      "main": [
        [
          {
            "node": "Filtrar Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Nuevos": {
      "main": [
        [
          {
            "node": "Hay PDFs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay PDFs?": {
      "main": [
        [
          {
            "node": "Registrar en Calandra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar en Calandra": {
      "main": [
        [
          {
            "node": "Notificar Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99dd71db-cb71-413e-b3d0-79c4e58cfbe0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "EErrR966iLOMvVlW",
  "tags": []
}
