WORKFLOWS/WeTransfer Descargado.json
{
  "name": "WeTransfer Descargado",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const subject = $input.first().json.Subject;\n\nconst match = subject.match(/se ha descargado (.+?)\\.pdf/i);\nconst archivo = match ? match[1].trim() : subject;\nconst equipo = archivo.replace(/\\s+\\d+$/, '').trim();\n\nreturn [{ json: { archivo, equipo, subject } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9bbabc0e-88f4-4c4d-ae8f-69856734fb32",
      "name": "Extraer Equipo"
    },
    {
      "parameters": {
        "url": "https://ws-app-interna-production.up.railway.app/api/pedidos",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "c7b8b029-4174-48b2-85fb-2acc3a1f6c72",
      "name": "Obtener Pedidos"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "se ha descargado",
          "sender": "noreply@wetransfer.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "529f772b-33ec-4e3e-b86a-9d900bc263a4",
      "name": "Gmail WeTransfer",
      "credentials": {
        "gmailOAuth2": {
          "id": "4D2s6JOWBaAK2fTO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pedidos = $input.first().json.pedidos;\nconst equipo = $node[\"Extraer Equipo\"].json.equipo.toLowerCase();\nconst archivo = $node[\"Extraer Equipo\"].json.archivo;\n\nconst pedido = pedidos.find(p =>\n  p.equipo && p.equipo.toLowerCase().includes(equipo.toLowerCase()) &&\n  p.estado !== 'enviado-final'\n);\n\nif (!pedido) {\n  return [{ json: { encontrado: false, equipo, archivo } }];\n}\n\nreturn [{ json: {\n  encontrado: true,\n  id: pedido.id,\n  equipo: pedido.equipo,\n  estado: pedido.estado,\n  vendedora: pedido.vendedora,\n  archivo\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "eee71de5-fba3-49bb-9361-1d24f060a6b0",
      "name": "Buscar Pedido"
    },
    {
      "parameters": {
        "chatId": "-1003751103154",
        "text": "=📥 WeTransfer descargado\n\n📁 {{ $node[\"Extraer Equipo\"].json.archivo }}\n\n👉 Entrar a la app y avanzar el pedido\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "8ce0535d-082e-449d-96fb-d166c55322cf",
      "name": "Send a text message",
      "webhookId": "2ea5b426-7feb-4cec-b33d-85c78a4f3440",
      "credentials": {
        "telegramApi": {
          "id": "2f6tAgO4oskAcMV7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-app-interna-production.up.railway.app/api/wetransfer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tipo\": \"descargado\",\n  \"archivo\": \"{{ $('Extraer Equipo').item.json.archivo }}\",\n  \"equipo\": \"{{ $('Extraer Equipo').item.json.equipo }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "265a86f7-e8d0-4d5c-bf70-6fe85dd55364",
      "name": "Registrar en App"
    }
  ],
  "pinData": {},
  "connections": {
    "Extraer Equipo": {
      "main": [
        [
          {
            "node": "Obtener Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedidos": {
      "main": [
        [
          {
            "node": "Buscar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail WeTransfer": {
      "main": [
        [
          {
            "node": "Extraer Equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedido": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Registrar en App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e848b066-2c3a-4107-a7fe-3e82fdb5c393",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  },
  "id": "NAiRfMHElCLO9QJC",
  "tags": []
}