WORKFLOWS/WeTransfer - Registrar Enviados App Web.json
{
  "name": "WeTransfer - Registrar Enviados App Web",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1400, 0],
      "id": "node-schedule",
      "name": "Cada 5 minutos"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "from:noreply@wetransfer.com newer_than:7d"
        },
        "options": {
          "format": "full"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-1160, 0],
      "id": "node-gmail",
      "name": "Correos WeTransfer Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear correos de WeTransfer y extraer TODOS los archivos\n// Subject: \"RESILIENCIA FC 4.pdf enviado correctamente a sublimarte...\"\n// El body tiene una lista de archivos en texto plano\n\nconst items = [];\n\nfor (const item of $input.all()) {\n  const subject = item.json.Subject || item.json.subject || '';\n  const gmailId = item.json.id || '';\n\n  if (!gmailId) continue;\n\n  // Determinar tipo por el subject\n  let tipo = null;\n  if (/enviado correctamente/i.test(subject)) tipo = 'enviado';\n  if (/se ha descargado/i.test(subject)) tipo = 'descargado';\n  if (!tipo) continue;\n\n  // Extraer archivos del subject primero (siempre viene 1)\n  const todosArchivos = [];\n\n  const matchEnviado = subject.match(/^(.+\\.pdf)\\s+enviado correctamente/i);\n  if (matchEnviado) todosArchivos.push(matchEnviado[1].trim());\n\n  const matchDescargado = subject.match(/se ha descargado\\s+(.+\\.pdf)$/i);\n  if (matchDescargado) todosArchivos.push(matchDescargado[1].trim());\n\n  // Buscar archivos adicionales en el texto plano del body\n  // WeTransfer lista los archivos en texto plano como \"NOMBRE.pdf\\n100 MB\"\n  const texto = item.json.text || '';\n  if (texto) {\n    const lineas = texto.split(/\\n/);\n    for (const linea of lineas) {\n      const l = linea.trim();\n      // Solo líneas que terminen en .pdf y sean nombres cortos (sin URLs ni frases largas)\n      if (/\\.pdf$/i.test(l) && l.length < 150 && !l.includes('http') && !l.includes('@')) {\n        if (!todosArchivos.some(a => a.toLowerCase() === l.toLowerCase())) {\n          todosArchivos.push(l);\n        }\n      }\n    }\n  }\n\n  // Registrar cada archivo como item separado\n  for (const archivo of todosArchivos) {\n    const equipo = archivo.replace(/\\.pdf$/i, '');\n    const itemGmailId = `${gmailId}_${archivo.toLowerCase().replace(/\\s+/g, '_')}`;\n    items.push({ json: { tipo, archivo, equipo, gmailId: itemGmailId } });\n  }\n}\n\nif (items.length === 0) return [{ json: { _skip: true } }];\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-920, 0],
      "id": "node-parsear",
      "name": "Parsear Subjects WeTransfer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-app-interna-production.up.railway.app/api/wetransfer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tipo\": \"{{ $json.tipo }}\",\n  \"archivo\": \"{{ $json.archivo }}\",\n  \"equipo\": \"{{ $json.equipo }}\",\n  \"gmailId\": \"{{ $json.gmailId }}\"\n}",
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-440, 0],
      "id": "node-post-appweb",
      "name": "Registrar en App Web"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-no-duplicado",
              "leftValue": "={{ $json.duplicado }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEqual" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-200, 0],
      "id": "node-if-nuevo",
      "name": "¿Es nuevo (no duplicado)?"
    }
  ],
  "pinData": {},
  "connections": {
    "Cada 5 minutos": {
      "main": [[{ "node": "Correos WeTransfer Gmail", "type": "main", "index": 0 }]]
    },
    "Correos WeTransfer Gmail": {
      "main": [[{ "node": "Parsear Subjects WeTransfer", "type": "main", "index": 0 }]]
    },
    "Parsear Subjects WeTransfer": {
      "main": [[{ "node": "Registrar en App Web", "type": "main", "index": 0 }]]
    },
    "Registrar en App Web": {
      "main": [[{ "node": "¿Es nuevo (no duplicado)?", "type": "main", "index": 0 }]]
    },
    "¿Es nuevo (no duplicado)?": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "c8cdeb92e56a59f7fa801454c20590e396c6591ff0e6335700e16b4c7a85d401"
  }
}
